@page

@using Newtonsoft.Json;

@model PubFuture.Pages.Receitas.IndexModel
@{
    ViewData["Title"] = "Receitas";
}


<body>
    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
        <div class="widget-content widget-content-area br-6">

            <div class="container">
                <h3>
                    Receitas
                    <button class="btn btn-primary mb-2" style="color: #fff !important;background-color: #0078bc !important;border-color: #43c7ee;box-shadow: 0 10px 20px -10px #0078bc;position: relative;border-radius: 26px;float: right;" data-toggle="modal" data-target="#Cadastrar">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                            <path d="M10.6667 0H1.33333C0.593333 0 0 0.6 0 1.33333V10.6667C0 11.4 0.593333 12 1.33333 12H10.6667C11.4 12 12 11.4 12 10.6667V1.33333C12 0.6 11.4 0 10.6667 0ZM10.6667 10.6667H1.33333V1.33333H10.6667V10.6667ZM5.33333 9.33333H6.66667V6.66667H9.33333V5.33333H6.66667V2.66667H5.33333V5.33333H2.66667V6.66667H5.33333V9.33333Z" fill="white"></path>
                        </svg> &nbsp; Nova Receita
                    </button>
                </h3>
            </div>

            <div class="table-responsive mb-4 mt-4">
                <table id="default-ordering" class="table table-hover" style="width:100%">
                    <thead>
                        <tr class="text-center">
                            <th>
                                #
                            </th>
                            <th>
                                Valor
                            </th>
                            <th>
                                Data Recebimento
                            </th>
                            <th>
                                Data Receb. Esperado
                            </th>
                            @*<th>
                                    Descrição
                                </th>*@
                            <th>
                                Conta
                            </th>
                            <th>
                                Tipo Receita
                            </th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Receitas)
                        {
                            <tr class="text-center">
                                <td>
                                    @item.ID
                                </td>
                                <td style="color:green">
                                    @item.Valor.ToString("C")
                                </td>
                                <td>
                                    @item.DataRecebimento.ToShortDateString()
                                </td>
                                <td>
                                    @item.DataRecebimentoEsperado.ToShortDateString()
                                </td>
                                <td>
                                    @item.Conta
                                </td>
                                <td>
                                    @item.TipoReceita
                                </td>
                                <td>
                                    <btn class="btn btn-primary" onclick='editarReceita(@Html.Raw(JsonConvert.SerializeObject(item)))' style="cursor: pointer;">
                                        <i class="fas fa-edit"></i>
                                    </btn> |
                                    <btn class="btn btn-danger" onclick='deletarReceita(@item.ID)' style="cursor: pointer;">
                                        <i class="fas fa-trash-alt"></i>
                                    </btn>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td class="text-center">Total Receitas</td>
                            <td class="text-center" style="color:green">@Model.TotalReceita.ToString("C")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>


@*CADASTRAR*@
<div class="modal animated fadeInUp custo-fadeInUp show" id="Cadastrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">Cadastrar nova receita</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-page-handler="Cadastrar" id="frmCad">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="Receita.Valor"></label>
                            <input asp-for="Receita.Valor" class="form-control" placeholder="Digite o valor" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Receita.DataRecebimento"></label>
                            <input type="date" asp-for="Receita.DataRecebimento" class="form-control" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Receita.DataRecebimentoEsperado"></label>
                            <input type="date" asp-for="Receita.DataRecebimentoEsperado" class="form-control" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Receita.Descricao"></label>
                            <input asp-for="Receita.Descricao" class="form-control" placeholder="Digite a descrição">
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Receita.Conta"></label>
                            <input asp-for="Receita.Conta" class="form-control" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Receita.TipoReceita"></label>
                            <select asp-for="Receita.TipoReceita" class="form-control" required>
                                <option value="" hidden selected>Selecionar</option>
                                <option value="Sálario">Sálario</option>
                                <option value="Presente">Presente</option>
                                <option value="Prêmio">Prêmio</option>
                                <option value="Outros">Outros</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="this.disabled = true; frmCad.submit();" class="btn btn-primary">Salvar</button>
                <button class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@*DELETAR*@
<div class="modal animated fadeInUp custo-fadeInUp show" id="Deletar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                    <h5 class="modal-title" id="myLargeModalLabel">
                        Deseja realmente deletar esta receita?
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                </div>*@
            <div class="modal-body">
                <form method="post" asp-page-handler="Deletar" id="frmReceitaDeletar">
                    <input asp-for="IdReceita" id="IdReceita" type="hidden" />
                    <h5 class="modal-title" id="myLargeModalLabel">
                        Deseja realmente deletar esta receita?
                    </h5>
                </form>
            </div>
            <div class="modal-footer">
                <button onclick="this.disable = true; frmReceitaDeletar.submit();" type="button" class="btn btn-danger">Sim, Excluir</button>
                <button class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@*EDITAR*@
<div class="modal animated fadeInUp custo-fadeInUp show" id="Editar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">Editar receita</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-page-handler="Editar" id="frmEdit">
                    <input asp-for="Receita.ID" id="idEdit" class="form-control" readonly hidden>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="Receita.Valor"></label>
                            <input asp-for="Receita.Valor" id="valorEdit" class="form-control" placeholder="Digite o valor" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Receita.DataRecebimento"></label>
                            <input asp-for="Receita.DataRecebimento" id="dataRecebimentoEdit" class="form-control" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Receita.DataRecebimentoEsperado"></label>
                            <input asp-for="Receita.DataRecebimentoEsperado" id="dataRecebimentoEsperadoEdit" class="form-control" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Receita.Descricao"></label>
                            <input asp-for="Receita.Descricao" class="form-control" id="descricaoEdit" placeholder="Digite a descrição">
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Receita.Conta"></label>
                            <input asp-for="Receita.Conta" id="contaEdit" class="form-control" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Receita.TipoReceita"></label>
                            <select asp-for="Receita.TipoReceita" id="tipoReceitaEdit" class="form-control" required>
                                <option value="" hidden selected>Selecionar</option>
                                <option value="Sálario">Sálario</option>
                                <option value="Presente">Presente</option>
                                <option value="Prêmio">Prêmio</option>
                                <option value="Outros">Outros</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="this.disabled = true; frmEdit.submit();" class="btn btn-primary">Salvar</button>
                <button class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>




<script>
    function deletarReceita(id) {
        $('#Deletar').modal('show');

        $('#IdReceita').val(id);
    };

    function editarReceita(item) {
        $('#Editar').modal('show');

        $('#idEdit').val(item.ID);
        $('#valorEdit').val(item.Valor);
        $('#dataRecebimentoEdit').val(item.DataRecebimento);
        $('#dataRecebimentoEsperadoEdit').val(item.DataRecebimentoEsperado);
        $('#descricaoEdit').val(item.Descricao);
        $('#contaEdit').val(item.Conta);
        $('#tipoReceitaEdit').val(item.TipoReceita);
    };


</script>